#pagewrap {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "genereltcss"
        "syntaks"
        "deklerationcontainer"
        "csseksempelcontainer"
        "tomfelt5"
        
}

#felt5{
    grid-area: tomfelt5;
    height: 33px;
}

#genereltcss{
    /* Denne id er både barn og forælder. Først er den barn af den overordnede container pagewrap*/
    background-color: #fafafa;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    grid-area: genereltcss;
    
    /*Herfra er den forælder til webtekst og webbillede*/   
}


#syntaks{
    background-color: #fafafa;
    border-width: 1px;
    border-color: black;
    border-style: solid;  
    grid-area: syntaks;
}


#deklerationcontainer{ 
    width: 100;
    padding-bottom: 1em;
    grid-area: deklerationcontainer;

}

#dekleration{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}

#csseksempelcontainer{ 
    width: 100;
    padding-bottom: 1em;
    grid-area: csseksempelcontainer;

}

#csseksempel{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}



@media screen and (min-width: 768px){
    
    #pagewrap {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "genereltcss syntaks"
        "csseksempelcontainer deklerationcontainer"
        "tomfelt5 ."
        
}   
    
}
 
@media screen and (min-width: 1190px) {
    #pagewrap {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "genereltcss syntaks" "csseksempelcontainer deklerationcontainer"
        "tomfelt5 ."
}

}