#pagewrap {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "generelt"
        "elementer"
        "semantik"
        "attributter"
        "tomfelt2"
    
        
}


#felt2{
    grid-area: tomfelt2;
    height: 33px;
}

#generelt{
    /* Denne id er både barn og forælder. Først er den barn af den overordnede container pagewrap*/
    background-color: #fafafa;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    grid-area: generelt;
    
}


#elementer{
    background-color: #fafafa;
    border-width: 1px;
    border-color: black;
    border-style: solid;    
    grid-area: elementer;
}

#semantik{
    background-color: #fafafa;
    border-width: 1px;
    border-color: black;
    border-style: solid;   
    grid-area: semantik;
}

#attributter{
    background-color: #fafafa;
    border-width: 1px;
    border-color: black;
    border-style: solid;  
    grid-area: attributter;
}


#bracketscontainer{ 
    width: 100;
    padding-bottom: 1em;

}

#brackets{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}

#sidecontainer{ 
    width: 100;
    padding-bottom: 1em;

}

#side{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}

#elementcontainer{ 
    width: 100;
    padding-bottom: 1em;
}

#element{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}

#overskriftcontainer{ 
    width: 100;
    padding-bottom: 1em;
}

#overskrift{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}

#googlecontainer{ 
    width: 100;
    padding-bottom: 1em;
}

#google{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}

#seocontainer{ 
    width: 100;
    padding-bottom: 1em;
}

#seo{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}


#headercontainer{ 
    width: 100;
    padding-bottom: 1em;
}

#header{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}

#footercontainer{ 
    width: 100;
    padding-bottom: 1em;
}

#footer{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}

#linkcontainer{ 
    width: 100;
    padding-bottom: 1em;
}

#link{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}

#link2container{ 
    width: 100;
    padding-bottom: 1em;
}

#link2{
    max-width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0.8px;
    margin-left: -0.8px;
    margin-right: -0.8px;
}


@media screen and (min-width: 768px){
    
    #pagewrap {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "generelt elementer"
        "semantik attributter"
        "tomfelt2 ."
        
}   
    
}
 
@media screen and (min-width: 1190px) {
    #pagewrap {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "generelt elementer"
        "semantik attributter"
        "tomfelt2 ."
}

}